<%- include('./components/header')%>
<div id="index">
    <h1>MBTI test</h1>
    <div>
        <article>
            <p>There are 16 types of personalities. Do you want to know your personality type?</p>
            <p>We trained a model with an online public dataset</p>
            <p>We want to collect our own data</p>
            <form method="post">
                <button>Click here to take the test</button>
                <div>By clicking here, you accept that we will use your responses to improve our products</div>
            </form>
        </article>
    </div>
</div>
<%- include('./components/footer') %>