#index {
    padding: 5% 15%;
    background-color: var(--secondary-color);
    height:70vh;
    display: flex;
    flex-direction: column;
}
#index h1{
    font-size: 3rem;
}
form{
    padding-top: 1rem;
    padding-bottom: 1rem;
}
form button{
    background-color: var(--background-color);
    padding: 1rem;
    border:none;
    border-bottom: 0.3rem solid var(--primary-color);
}
form button:focus{
    color: var(--secondary-color);
    border-bottom: 0.3rem solid var(--background-color);
}
