<%- include('../components/header')%>
<div id="test">
    <div id="questions">
        <form method="post">
            <div><%=questions[0].question%></div>
        </form>
         
    </div>
</div>
<%- include('../components/footer')%>